{% extends 'basepage.html' %}


{%  block content %}

<link rel="stylesheet" href=" //cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src=" //cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>



<h4> View All Your Records</h4>


<table class="table resultlist" id = 'resulttable'>
  <thead>
    <tr>
{#        <th scope="col">Job ID</th>#}
        <th scope="col">Job Title</th>
        <th scope="col">Company Name</th>
        <th scope="col">Required Skills</th>
        <th scope="col">Job Description</th>
        <th scope="col">Submitted Date</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
<Tbody>
        {%  for instance in object_list %}
            <tr>
{#                <td>{{ instance.id}}</td>#}
                <td>{{ instance.Job_Title }}</td>
                <td>{{ instance.Company_Name }}</td>
                <td>{{ instance.Required_Skills }}</td>
                <td>{{ instance.Job_Description }}</td>
                <td>{{ instance.Submitted_Date }}</td>
                <td><a href="{% url 'job_update' instance.id %}">Update</a>
                <td><a href="{% url 'job_delete' instance.id %}">Delete</a>
                </td>
          </tr>
        {% endfor %}
    </Tbody>
</table>

    <style>
    .resultlist{
        border: solid;
    }
    </style>


<script>
$(document).ready( function () {
    $('#resulttable').DataTable();
} );

</script>


{% endblock %}

