<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Job Hunting Tracker</title>
</head>


<body>
 <h1>Job Hunt Tracking App</h1>

 {% include 'navbar.html'%}

 {% if messages %}
     {%  for message in messages %}
             {{ message }}
         </div>


     {%  endfor %}
{%  endif %}





{% block content %}
    <p>
    TO BE CHANGED CONTENT for each page
    </p>
{% endblock %}

</body>


</html>


<style>
h1 {
    padding: 10px;
  color: navy;
 text-align: center;
}


</style>