{% extends 'basepage.html' %}

{%  block content %}

<center>

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

    {% load static %}
    <img src="{% static 'welcome2.jpg' %}" alt="My image">
    {%  if user.is_authenticated %}
            <h2>Welcome come to your Job Hunting Tracker, {{ request.user }}!</h2>
<br>

               <div  class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" onclick= "location.href= '/TrackJob/jobadd/'" type="button">Add Record</button>
  <button class="btn btn-primary" onclick= "location.href= '/TrackJob/showrecord/'" type="button">View Record</button>
    </div>


        {%  else %}
        <h2>Please Log In to the App</h2>


        <div  class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" onclick= "location.href= '/members/login_user/'" type="button">Log In Here</button>
  <button class="btn btn-primary" onclick= "location.href= '/members/register/'" type="button">Register User</button>
    </div>


    {% endif %}




</center>
{% endblock %}