{% extends 'basepage.html' %}

{%  block content %}

<center>

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

    {% load static %}
    <img src="{% static 'welcome2.jpg' %}" alt="My image">
    {%  if user.is_authenticated %}
            <h2>Welcome come to your Job Hunting Tracker, {{ request.user }}!</h2>

        {%  else %}
        <h2>Please Log In to the App</h2>


        <p><button class="btn btn-primary btn-lg" onclick= "location.href= '/members/login_user/'" type="button">
         Log In Here</button>
        </p>
    {% endif %}




</center>
{% endblock %}