{% extends 'basepage.html' %}

{%  block content %}


<h2> View All Your Records</h2>
{#    <table>#}
{##}
{##}
{#    <tr>#}
{#        <th scope="col">Job ID</th>#}
{#        <th scope="col">Job Title</th>#}
{#        <th scope="col">Company Name</th>#}
{#        <th scope="col">Required Skills</th>#}
{#        <th scope="col">Job Description</th>#}
{#        <th scope="col">Submitted Date</th>#}
{#        <th scope="col">Detials</th>#}
{#    </tr>#}
{##}
{#    <Tbody>#}
{#        {%  for instance in object_list %}#}
{#            <tr>#}
{#                <td>{{ instance.id}}</td>#}
{#                <td>{{ instance.Job_Title }}</td>#}
{#                <td>{{ instance.Company_Name }}</td>#}
{#                <td>{{ instance.Required_Skills }}</td>#}
{#                <td>{{ instance.Job_Description }}</td>#}
{#                <td>{{ instance.Submitted_Date }}</td>#}
{#                <td><a href="{% url 'details' instance.id%}">{{instance.Job_Title}}</a>#}
{#                </td>#}
{#          </tr>#}
{#        {% endfor %}#}
{#    </Tbody>#}
{##}
{#    </table>#}
{##}
{#<style>#}
{#table, th, td {#}
{#  border:1px solid black;#}
{#    margin-left: auto;#}
{#    margin-right: auto;#}
{#    padding:10px;#}

{##}
{#</style>#}
<table class="table">
  <thead>
    <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Job Title</th>
        <th scope="col">Company Name</th>
        <th scope="col">Required Skills</th>
        <th scope="col">Job Description</th>
        <th scope="col">Submitted Date</th>
        <th scope="col">Detials</th>
    </tr>
  </thead>
<Tbody>
        {%  for instance in object_list %}
            <tr>
                <td>{{ instance.id}}</td>
                <td>{{ instance.Job_Title }}</td>
                <td>{{ instance.Company_Name }}</td>
                <td>{{ instance.Required_Skills }}</td>
                <td>{{ instance.Job_Description }}</td>
                <td>{{ instance.Submitted_Date }}</td>
                <td><a href="{% url 'job_update' instance.id %}">Update</a>
                </td>
          </tr>
        {% endfor %}
    </Tbody>
</table>

{% endblock %}

