{%  extends 'base.html' %}

{%  block content %}
<h2>Log In</h2>

<form method="post">
  {% csrf_token %}


<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address/User Name</label>
    <input type="text" class="form-control" name = "username" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name = "password">
  </div>

  <input type="submit" value="Submit">
</form>
{% endblock %}